/* Analytics page styles */
.hint {
    font-size: 0.9rem;
    color: #6c757d;
}

.help-icon {
    cursor: help;
    margin-left: .25rem;
    color: #6c757d;
}

.metric-card {
    height: 100%;
}

.metric-card .progress {
    height: 1rem;
}

/* Wysokość Heatmapy*/
.metric-card canvas {
    width: 100% !important;
    min-height: 360px;
}